<div class="content">
  <h3 class="main-title">Seasonal Severe Weather Analytics</h3>
  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header main-header">
          <div class="row">
            <div class="col-sm-6 header-search">
              <form>
                <input type="text" google-place (onSelect)="setAddress($event)"
                  placeholder="Washington D.C., DC, USA" />
              </form>
            </div>
            <div class="col-sm-6 tags">
              <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                <label class="btn btn-sm btn-danger btn-simple" (click)="
                    updateForecastType('conustorseasonalresults', 'Tornado', 'conustorlossesseasonal');
                    clicked = true;
                    clicked1 = false;
                    clicked2 = false
                  " [ngClass]="{ active: clicked === true }">
                  <input checked="checked" name="options" type="radio" />

                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block tag">
                    Tornado
                  </span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class="btn btn-sm btn-danger btn-simple" (click)="
                    updateForecastType('conusconvectivewindseasonalresults', 'Convective Wind', 'conuswindlossesseasonal');
                    clicked = false;
                    clicked1 = true;
                    clicked2 = false
                  " [ngClass]="{ active: clicked1 === true }">
                  <input class="d-none d-sm-none" name="options" type="radio" />

                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block tag">
                    Wind
                  </span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class="btn btn-sm btn-danger btn-simple" (click)="
                    updateForecastType('conushailseasonalresults', 'Hail', 'conushaillossesseasonal');
                    clicked = false;
                    clicked1 = false;
                    clicked2 = true
                  " [ngClass]="{ active: clicked2 === true }">
                  <input class="d-none" name="options" type="radio" />

                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block tag">
                    Hail
                  </span>
                  <span class="d-block d-sm-none">
                    <i class="tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card card-chart card-text">
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat,
            quidem quibusdam. Expedita enim pariatur fugiat mollitia veritatis
            facilis cumque possimus blanditiis? Aliquam quia quod pariatur modi
            sit quas doloremque quis?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card card-chart card-info">
        <div class="card-body" *ngIf="foreCastData?.date">

          <div class="info">
            <p class="key">Valid For Points</p>
            <p class="value">
              {{getThreeMonths()}} Forecast Valid at
              {{ foreCastData?.longitude | number: "1.1" }}&deg;N and
              {{ foreCastData?.latitude | number: "1.1" }}&deg;W
            </p>
          </div>
          <div class="info">
            <p class="key">Forecast Category</p>
            <p class="value">{{forecastCategoryFunc()}}</p>
          </div>
          <div class="info">
            <p class="key">Bounds</p>
            <p class="value">
              {{ foreCastData["lower bound"] | number: "1.1" }} to
              {{ foreCastData["upper bound"] | number: "1.1" }} {{forecastDisplayValue}} reports
              expected within 400 miles of the point
            </p>
          </div>
          <div class="info">
            <p class="key">Climatological Average</p>
            <p class="value">{{foreCastData["long term average"]}} reports within 400 miles of the point</p>
            <p></p>
          </div>

        </div>
        <div class="card-body" *ngIf="!foreCastData?.date">
          <p class="text-center">No Data For Those Coordinates</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-tasks">
        <div class="card-header">
          <h6 class="title d-inline">Severe Weather Forecast Layer</h6>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" (change)="
                            onCheckboxChange('conushailseasonalresults')
                          " />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Seasonal Hail Forecast</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" (change)="
                            onCheckboxChange(
                              'conusconvectivewindseasonalresults'
                            )
                          " />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Seasonal Convective Wind Forecast</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value=""
                          (change)="onCheckboxChange('conustorseasonalresults')" />

                        <span class="form-check-sign">
                          <span class="check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">Seasonal Tornado Forecast</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-header">
          <h6 class="title d-inline">Legend</h6>
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive legend-table">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <p class="circle one"></p>
                  </td>
                  <td>
                    <p class="title">Much Below Average</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="circle two"></p>
                  </td>
                  <td>
                    <p class="title">Below Average</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="circle three"></p>
                  </td>
                  <td>
                    <p class="title">Above Average</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class="circle four"></p>
                  </td>
                  <td>
                    <p class="title">Much Above Average</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 map">
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.713609440083!2d67.11851361502376!3d24.941824448134263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb338980b4615af%3A0xe968e4f0fd0119cd!2sUniversity%20of%20Karachi!5e0!3m2!1sen!2s!4v1588503923882!5m2!1sen!2s"
        frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
      <div class="map" id="map" class="match-parent"></div>
    </div>
  </div>

  <!-- Graph -->
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <!-- <h5 class=" card-category">Total Shipments</h5> -->
              <h3 class=" card-title">Loss Curves</h3>
            </div>
            <!-- <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Accounts
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Purchases
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Sessions
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div> -->
          </div>
        </div>
        <div class=" card-body">
          <div class="chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>