@import "./../../../assets/scss/black-dashboard.scss";

.main-header {
  padding: 15px !important;
  .row {
    .header-search {
      form {
        input {
          width: 100%;
          background-color: transparent;
          border: 1px solid $primary;
          border-radius: 5px;
          color: white;
          padding: 5px 15px;
          &:active,
          &:hover,
          &:focus {
            outline: none;
          }
        }
      }
    }
    .tags {
      .btn-group {
        margin-top: -3px;
        .btn {
          border-color: $primary !important;
          .tag {
            font-size: 16px;
          }
          &.active {
            background-color: $primary !important;
            background-image: none !important;
          }
          &:hover {
            &:not(.active) {
              .tag {
                color: $secondary !important;
              }
            }
          }
        }
      }
    }
  }
}

.legend-table {
  table {
    tbody {
      tr {
        td {
          p.circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            &.one {
              background-color: #3232fe;
            }
            &.two {
              background-color: #b1b1fe;
            }
            &.three {
              background-color: #feb8b8;
            }
            &.four {
              background-color: #fe3232;
            }
          }
        }
      }
    }
  }
}

.map {
  .match-parent {
    width: 100%;
    height: calc(100% - 28px);
  }
}

.card-text {
  .card-body {
    padding: 14px 20px;
  }
}

.card-info {
  margin-top: 30px;
  .card-body {
    display: flex;
    justify-content: space-around;
    .info {
      p {
        text-align: center;
        &.value {
          font-size: 22px;
          font-weight: 600;
        }
        &.key {
          font-size: 14px;
        }
      }
    }
  }
}
